@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  height: 100vh;
  overflow: hidden;
}

body * {
  font-family: "Quicksand", sans-serif;
}

#Deashboard-Cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  height: 100vh;
  background: var(--whole-backgound);
}

#Deashboard-Cover.black-theme {
  --sitebar-color: #3838384b;
  --text-color: rgb(209, 209, 209);
  --background1: rgb(119, 0, 255);
  --overlay-background: rgba(255, 255, 255, 0.671);
  --border-color: rgba(255, 255, 255, 0.39);
  --whole-backgound:#000000;
}

#Deashboard-Cover.light-theme {
  --sitebar-color: #3838384b;
  --text-color: rgb(40, 49, 54);
  --background1: rgb(119, 0, 255);
  --overlay-background: rgba(255, 255, 255, 0.671);
  --border-color: rgba(255, 255, 255, 0.39);
  --whole-backgound:#d3e2e6;
}

#Deashboard-Cover #Dashboard-sitebar {
  background: var(--sitebar-color);
  width: 23%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  resize: horizontal;
}

#Deashboard-Cover #Dashboard-sitebar .sitebar-nav {
  text-decoration: none;
  padding: 10px 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: 580;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 5px;
  position: relative;
}

#Deashboard-Cover #Dashboard-sitebar .sitebar-nav:hover, #Deashboard-Cover #Dashboard-sitebar .sitebar-nav.sitebar-nav-active {
  color: var(--background1);
  background: var(--overlay-background);
}

#Deashboard-Cover #Dashboard-sitebar .sitebar-nav:hover::after, #Deashboard-Cover #Dashboard-sitebar .sitebar-nav.sitebar-nav-active::after {
  position: absolute;
  height: 100%;
  right: 0px;
  width: 7px;
  display: block;
  background: var(--background1);
  content: "";
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#Deashboard-Cover #Dashboard-sitebar .sitebar-nav:hover .icon, #Deashboard-Cover #Dashboard-sitebar .sitebar-nav.sitebar-nav-active .icon {
  background: var(--background1);
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 30px;
  min-width: 30px;
  min-height: 30px;
}

#Deashboard-Cover #Dashboard-sitebar .sitebar-nav .icon {
  font-size: 20px;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 30px;
  min-height: 30px;
}

@media screen and (max-width: 769px) {
  #Deashboard-Cover #Dashboard-sitebar {
    position: fixed;
    height: 100%;
    width: 270px;
    z-index: 100;
    background: var(--whole-backgound);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    padding-top: 20px;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #Deashboard-Cover #Dashboard-sitebar.sitebar-opened {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

#Deashboard-Cover #Dashboard-Display {
  background: var(--display-bg);
  width: 77%;
  height: 90%;
  overflow: hidden;
  overflow-y: auto;
  padding: 30px;
}

@media screen and (max-width: 679px) {
  #Deashboard-Cover #Dashboard-Display {
    width: 100%;
    padding: 10px;
  }
}

#Deashboard-Cover #Dashboard-Appbar {
  width: 100%;
  min-height: 10%;
  background: var(--sitebar-color);
  border-bottom: var(--border-color) 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-brand .logo {
  display: block;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-brand .bar-icon {
  display: none;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar {
  width: 400px;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar * {
  background: var(--sitebar-color) !important;
  border: none;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar *:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group.focused {
  border: 3px solid var(--background1) !important;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group #basic-addon1 {
  color: var(--text-color);
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group input {
  color: var(--text-color) !important;
  font-weight: bold;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group input::-webkit-input-placeholder {
  color: grey;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group input:-ms-input-placeholder {
  color: grey;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group input::-ms-input-placeholder {
  color: grey;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-searchbar .input-group input::placeholder {
  color: grey;
}

#Deashboard-Cover #Dashboard-Appbar .navbar-content {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: var(--background1);
}

#Deashboard-Cover #Dashboard-Appbar .navbar-content .icon {
  color: var(--whole-backgound);
  font-size: 20px;
}

@media screen and (max-width: 679px) {
  #Deashboard-Cover #Dashboard-Appbar .navbar-brand .logo {
    display: none;
  }
  #Deashboard-Cover #Dashboard-Appbar .navbar-brand .bar-icon {
    margin-left: 20px;
    display: block;
  }
  #Deashboard-Cover #Dashboard-Appbar .navbar-searchbar {
    width: 200px;
  }
}

h1,
h3,
h4,
h2,
h5,
h6,
p,
button,
a {
  color: var(--text-color);
}

#dashboard_Display_page div, #dashboard_Display_page section, #dashboard_Display_page main {
  -webkit-animation: fade-up 0.4s linear;
          animation: fade-up 0.4s linear;
}

#dashboard_Display_page .bnb-currency-board .logo {
  width: 100px;
  margin: auto;
  display: block;
}

#dashboard_Display_page .bnb-currency-board .currency h1 {
  font-size: 50px;
  text-align: center;
}

#tracking-board div, #tracking-board section, #tracking-board main, #tracking-board table, #tracking-board tr {
  -webkit-animation: fade-up 0.4s linear;
          animation: fade-up 0.4s linear;
}

#tracking-board .transiction-history .data-table {
  border: 1px solid rgba(131, 131, 131, 0.329);
  width: 100%;
  overflow-x: auto;
  border-radius: 20px;
}

#tracking-board .transiction-history .data-table table {
  color: var(--text-color);
  margin-bottom: 0;
  width: 993px;
}

#tracking-board .transiction-history .data-table table tr th {
  padding: 20px;
}

#tracking-board .transiction-history .data-table table tr td {
  padding: 10px 15px;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.dark-highlight {
  background: var(--sitebar-color);
}

.infocard___2 *, .infocard___1 *, .infocard___5 * {
  color: white;
}
/*# sourceMappingURL=App.css.map */