@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
    height: 100vh;
    overflow: hidden;
    * {
        font-family: "Quicksand", sans-serif;
    }
}

#Deashboard-Cover {
     &.black-theme {
        --sitebar-color: #3838384b;
        --text-color: rgb(209, 209, 209);
        --background1: rgb(119, 0, 255);
        --overlay-background: rgba(255, 255, 255, 0.671);
        --border-color: rgba(255, 255, 255, 0.39);
        --whole-backgound:#000000;
    }
    &.light-theme {
        --sitebar-color: #3838384b;
        --text-color: rgb(40, 49, 54);
        --background1: rgb(119, 0, 255);
        --overlay-background: rgba(255, 255, 255, 0.671);
        --border-color: rgba(255, 255, 255, 0.39);
        --whole-backgound:#d3e2e6;
    }
    display: flex;
    flex-flow: wrap;
    height: 100vh;
    background: var(--whole-backgound);
   

    #Dashboard-sitebar {
        background: var(--sitebar-color);
        width: 23%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        resize: horizontal;

        .sitebar-nav {
            text-decoration: none;
            padding: 10px 15px;
            display: inline-flex;
            align-items: center;
            width: 100%;
            font-weight: 580;
            transition: 0.4s;
            margin-bottom: 5px;
            position: relative;

            &:hover,
            &.sitebar-nav-active {
                color: var(--background1);
                background: var(--overlay-background);
                &::after {
                    position: absolute;
                    height: 100%;
                    right: 0px;
                    width: 7px;
                    display: block;
                    background: var(--background1);
                    content: "";
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                }
                .icon {
                    background: var(--background1);
                    color: white;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: 30px;
                    min-width: 30px;
                    min-height: 30px;
                }
            }
            .icon {
                font-size: 20px;
                margin-right: 10px;
                transition: 0.3s;
                min-width: 30px;
                min-height: 30px;
            }
        }
        @media screen and (max-width:769px) {
            position: fixed;
            height:100%;
            width:270px;
            z-index: 100;
            background: var(--whole-backgound);
            transform: translateX(-100%);
            padding-top: 20px;
            transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &.sitebar-opened{
                transform: translate(0px);
            }
            
        }
    }

    #Dashboard-Display {
        background: var(--display-bg);
        width: 77%;
        height: 90%;
        overflow: hidden;
        overflow-y: auto;
        padding: 30px;

        @media screen and (max-width:679px) {
            width: 100%;
            padding:10px;
        }
    }

    #Dashboard-Appbar {
        width: 100%;
        min-height: 10%;
        background: var(--sitebar-color);
        border-bottom: var(--border-color) 2px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-brand{
                .logo{
                    display: block;
                }
                .bar-icon{
                    display: none;
                }
            }

        .navbar-searchbar {
            width: 400px;

            * {
                background: var(--sitebar-color) !important;
                border: none;
                &:focus {
                    box-shadow: none;
                    border: none;
                }
            }
            .input-group {
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
                &.focused {
                    border: 3px solid var(--background1) !important;
                }
                #basic-addon1 {
                    color: var(--text-color);
                }
                input {
                    color: var(--text-color) !important;
                    font-weight: bold;
                    &::placeholder {
                        color: grey;
                    }
                }
            }
        }
        .navbar-content{
            width:40px;
            height:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background:var(--background1);
            .icon{
                color:var(--whole-backgound);
                font-size: 20px;

                
            }
        }

        @media screen and (max-width:679px) {
            .navbar-brand{
                .logo{
                    display: none;
                }
                .bar-icon{
                    margin-left: 20px;
                    display: block;
                }
            }

            .navbar-searchbar{
                width:200px;
            }
        }
    }
}

h1,
h3,
h4,
h2,
h5,
h6,
p,
button,
a {
    color: var(--text-color);
}
@import "Media";

.dark-highlight {
    background: var(--sitebar-color);
}

.infocard___{
    &2, &1, &5 {
        *{

            color:white;
        }
    }
}